@mixin leftnavbuttonlist
  width: 12em
  display: flex
  flex-direction: column
  border-right: solid black 1px
  transition: width 1s, opacity 1s
  background-color: white
  height: 100%
  z-index: 1

.button-container
  width: 12em
  z-index: 0

.visible
  @include leftnavbuttonlist
  .button-container
    transition: opacity 2s
    opacity: 1

.hidden
  @include leftnavbuttonlist
  width: 1em
  .button-container
    transition: opacity 2s
    opacity: 0

.spacer
  height: 5em

.toggle
  border: solid red 1px
  background: none
  float: right
